site_name: Gilbert's Docs
site_url: https://gilbertque.github.io/fourmoo/
theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.follow
    - search.suggest

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Microsoft Fabric:
    - Spark vs Python vs Warehouse: spark-vs-python-vs-warehouse-microsoft-fabric.md
